
<div class="jumbotron mt-4">
  <h1 class="display-5">Notes Apps Nodejs and Mongodb</h1>
  <p class="lead">No hay nadie que ame el dolor mismo, que lo busque, lo encuentre y lo quiera, simplemente porque es el dolor..</p>
  <hr class="my-4">
  <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. </p>
  <a href="/users/signin" class="btn btn-primary btn-lg"> Let's get Started</a>
</div>

