<div class="container p-4">
  <div class="row">
    <br>
    {{#each notes}}
              
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
              <h4 class="card-title d-flex justify-content-between align-items-center">
                {{title}}<a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
              </h4>
              <p class="md-2">{{description}}</p>
              <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger btn-block btn-sm" type="submit">
                Delete
              </button>
              </form>
          </div>
        </div>
      </div>
     {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <h1>Hello {{user.name}}</h1>
          <p>There are not notes saved yet.</p>
          <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
        </div>
      </div>-
    {{/each}}
  </div>
</div>
