<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Edit Note</h3>
        </div>
        <div class="card-body">
          <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
              <input type="text" class="form-control" name="title" value="{{note.title}}" placeholder="Title" autofocus>
            </div>
            <div class="form-group">
              <textarea name="description" row="2" class="form-control" " placeholder="Description">{{note.description}}</textarea>
              
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">Edit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
