
<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>New Note</h3>
        </div>
        <div class="card-body">
          <form action="/notes/new-note" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="title" placeholder="Title" autofocus>
            </div>
            <div class="form-group">
              <textarea name="description" row="2" class="form-control" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
