<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Acount Register</h3>
        </div>
       
        <div class="card-body">
          <form action="/users/signup" method="POST">
            <div class="form-group">
              <input type="text" name="name" placeholder="Name" class="form-control" value="{{name}}" autofocus>
            </div>
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" class="form-control" value="{{email}}">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control" value="{{password}}">
            </div>
            <div class="form-group">
              <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control" value="{{confirm_password}}">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                SignUp
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
