<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Acount Login</h3>
        </div>
        <img src="/img/logo.jpg" alt="logo" class="rounded-circle mx-auto d-block m-4 logo">
        <div class="card-body">
          <form action="/users/signin" method="POST">
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                SignIn
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
